body {
  margin: 0;
  padding: 0;
  background-color: blueviolet;
  font-family: Arial, sans-serif;
}

@keyframes colorChange {
  0% {color: #e89e88;;}
  50% {color: #fff700;}
  100% {color: white}
}

h1 {
  font-size: 45px;
}

h1:hover {
  font-size: 50px;
  animation: colorChange 6s;
}

h2 {
  font-size: 40px;
}

h3 {
  font-size: 30px;
}

#Intro h3:hover {
  font-size: 35px;
  animation: colorChange 6s;
}

button {
  border: none;
  font-size: 16px;
  cursor: pointer;
  padding: 10px 15px;
  background-color: rgb(188, 116, 255);
}

button:hover {
  font-size: 20px;
}

#Intro {
  float: left;
  padding: 20px;
  max-width: 50%;
  color: white;
  text-align: left;
}

#Header {
  color: white;
  font-size: 65px;
  padding: 20px 0;
  text-align: center;
  text-decoration: underline;
}

#Header:hover {
  animation: colorChange 6s;
}

#SignLogBox {
  width: 40%;
  float: right;
  padding: 20px;
  color: black;
  font-size: 20px;
  margin-top: 20px;
  margin-right: 2%;
  text-align: center;
  border-radius: 10px;
  background-color: white;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

#SignLogBox input {
  width: 80%;
  padding: 10px;
  margin: 10px 0;
  font-size: 15px;
}

#SignLogBox input:hover {
  font-size: 18px;
}

#Steps {
  gap: 30px;
  clear: both;
  padding: 20px;
  display: flex;
  color: white;
  flex-wrap: wrap;
  justify-content: center;
}

#Steps h3 {
  width: 40%;
  font-size: 30px;
  text-align: center;
}

#Steps h3:hover {
  color: black;
  font-size: 35px;
}
