body {
  margin: 0;
  padding: 0;
  background-color: #ffe4f2;
  font-family: Arial, sans-serif;
}

.profileHeader {
  padding: 20px;
  color: white;
  font-size: 30px;
  text-align: center;
  background-color: #44008B;
}

.profileContainer {
  gap: 30px;
  display: flex;
  margin-top: 20px;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.profileImg {
  width: 200px;
  height: 200px;
  object-fit: cover;
  border-radius: 50%;
  border: 2px solid #ccc;
}

.profileInfo h2 {
  font-size: 30px;
  margin-bottom: 15px;
}

.profileInfo h3 {
  margin: 12px 0;
  font-size: 22px;
}

.profileEdit {
  margin-top: 20px;
  text-align: center;
}

.profileEdit label {
  display: block;
}

.profileEdit input {
  width: 100%;
  margin-top: 15px;
  max-width: 300px;
}

.profileEdit button {
  border: none;
  color: white;
  cursor: pointer;
  margin-top: 10px;
  padding: 5px 15px;
  background-color: #44008B;
}

.profileEdit button:hover {
  background-color: #00076f;
}

.editArea {
  margin: 15px;
  background-color: #ffe4f2;
}

#toggleButton, #logoutBtn {
  border: none;
  display: block;
  color: white;
  cursor: pointer;
  margin: 20px auto;
  padding: 10px 20px;
  background-color: #44008B;
}

#toggleButton:hover, #logoutBtn:hover {
  background-color: #00076f;
}